@charset "UTF-8";

.list-content-row{
	overflow-x: auto;
}
.list-item-row-size{
	min-width: 815px;
}
.sheet-table{
	font-size: 22px;
    color: black;
    table-layout: fixed;
    word-wrap: break-word;
}
.sheet-table th, .sheet-table td{
	padding: 30px 10px;
	border-color: gray;
}
.mpj-table th, .mpj-table td{
	padding: 15px 10px;
}
.sheet-table th{
    background: #f3f3f3;
}
.sheet-table td{
    background: white;
}
.personal-form-control{
	font-size: large;
	font-family: mediumFont;
}
.station-list-table-operator{
	min-width: 1100px;
}
.modal-title, .col-form-label{
	color: black;
    font-size: large;
    font-family: mediumFont;
}
.fake-pass-inp{
	display: none;
}
.sheet-input-textarea {
	font-size: 19px;
	width: 100%;
	resize: none;
	overflow-y: auto;	
	background: transparent;
	color: black;
}

.document-modal{
	max-width: 80% !important;
}

#content
{
	height: 100%;
	background: white;
	float: right;
	width: 92%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.flex-fill {
    flex:1;
}
.task-details-row
{
	height: 83vh !important;
}
.station-upper-row
{
	border-bottom: 1px solid #dedede;
	max-height: 180px;
	min-height: 80px;
	height: 17vh !important;
}

.enter-btn
{
    cursor: pointer;
	font-family: lightFont;
	font-size: 22px;
	background: white;
    border-radius: 15px;
    height: 150px;
    transition: 0.3s;
}
.enter-btn:hover
{
	background: #ff7676;
    color: white;
}
.big-nav-button
{
    width: auto;
	height: 12.5%;
	
}
.big-nav-button-modal
{
    width: auto;
	height: 14.5%;
	
}
.item-text-row-size{
	height: 70vh !important;
}
#contentFrame
{
	height: 100%;
	width: 93%;
    border-radius: 5px;
    background: white;
    display: inline-block;
}
#contentHeader
{
	height: 20%;
    padding: 18px;
}
#navigationContainer
{
	background: none !important;
}
#contentContainer
{
    height: 72.5%;
/*     background: #f0f0f0; */
    padding: 0 18px;
}
.Operator-Top-Row
{
     height: 140px;
}
#timerContainer
{	
	background: #00e68a;
	background-image: url(${pageContext.request.contextPath}/Public/icons/timer.svg);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
    background-position-y: 25%;
	transition: background 1s;
	z-index: 9;
}
.button-container
{
	z-index: 7;
}
.left-buttons
{
	height: 83vh;
	z-index: 8;    
/* 	min-width: 160px; */
}
.operator-switch-grid
{
/*      background: #f5f5f5; */
}
#timerContainer img
{
    height: 80px;
    margin: 0px auto;
    padding: 6px;
/* 	min-width: 160px; */
}
.timerPanel
{
	font-size: x-large;
		position: absolute;
	bottom: 10px;
	width: 100%;
	color: white;
}

.nav-contianer
{
	background-image: url(${pageContext.request.contextPath}/Public/icons/pm_logo_normal.svg);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
	    background-position-x: 55%;
/* 	min-width: 815px; */
}
.side-view-close-btn{
	background-image: url(${pageContext.request.contextPath}/Public/icons/cross-mark.svg);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}
.side-view-close-btn:hover{
	background-color: #ffbfbf;
}
.nav-label
{
	font-family: mediumFont;
	margin-bottom: 0;
    bottom: 0px;
    width: 100%;
    color: black;
    font-size: 20px;
    text-align:left;
}
.nav-label-modal{
	text-align: center;
}

.input-finished, .input-scrap, .submit-action-btn{
	font-size: x-large;
}

.navigation-button{
	border: none;
    background: transparent;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-position-y: 30%;
}
/* #navigation-button-1{ */
/* 	background-image: url(${pageContext.request.contextPath}/Public/icons/TV_btn_nav1.svg); */
/* } */
/* #navigation-button-2{ */
/* 	background-image: url(${pageContext.request.contextPath}/Public/icons/TV_btn_nav2.svg); */
/* } */
/* #navigation-button-3{ */
/* 	background-image: url(${pageContext.request.contextPath}/Public/icons/TV_btn_nav3.svg); */
/* } */
/* #navigation-button-4{ */
/* 	background-image: url(${pageContext.request.contextPath}/Public/icons/TV_btn_nav4.svg); */
/* } */
/* #navigation-button-5{ */
/* 	background-image: url(${pageContext.request.contextPath}/Public/icons/list.svg); */
/* } */
/* #navigation-button-6{ */
/* 	background-image: url(${pageContext.request.contextPath}/Public/icons/calendar-2.svg); */
/* } */
.nav-img{
	height: 35px !important;
	display: block;
	margin: auto 0;
}
.bom-item-text-row textarea
{
	color:black;
	background: white;
	padding: 3px;
	border-radius: 10px;
	border: 1px solid #dedede;
}
.item-data-row input{
	color: black;
	font-size: 20px;
}
.bom-item-text-row
{
/* 	min-height: 150px; */
}
.close-nav-btn
{
	background-color: transparent;
	background-size: 28px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(${pageContext.request.contextPath}/Public/icons/left-arrow-operator.svg);
	transition: 0,3s;
}
.bom-item-row{    
background: #efefef;
    border-bottom: 1px solid #cccccc;
    overflow-x: auto;
    overflow-y: hidden;
    height: 95px;
}
.bom-container{
	min-width: 1200px;
}

.bom-item-row input, .bom-item-row label{
	background: transparent;
}
.bom-header-row
{
	height: 50px;
	background: white;
    border-bottom: 1px solid #cccccc;
}
.bom-header-row input
{
	height: 100%;
	background: transparent;
	    color: #424242;    
	    font-family: mediumFont;
}
.close-nav-btn:hover
{
	background-color:  whitesmoke;
}
#btn_megszakitas .my-nav-btn
{
    border-right: 1px solid #dedede;
}

.btn_navHeader
{
	min-width: 5%;
    background: #f5f5f5;
    cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.btn_navHeader-left
{
	width: 10%;
	min-width: 110px;
	background-size: 30px;
    border-right: 1px solid #dedede;
}

.personal-data-display
{
	min-width: 200px;
    background: #f5f5f5;
    border-left: 1px solid #dedede;
}
.btn_navHeader-left-submit
{
	min-width: 15%;
	background-image: url(${pageContext.request.contextPath}/Public/icons/upload.svg);
}
.btn-navHeader-left-refresh-btn
{
    border-right: 1px solid #dedede;
	background-image: url(${pageContext.request.contextPath}/Public/icons/reloadGray.svg);
	background-size: 30px;
	cursor: pointer;
}
#btn_megszakitas
{
	border: none;
	border-right: 1px solid #dedede;
	background-image: url(${pageContext.request.contextPath}/Public/icons/warning.svg);
}
.opentask-row
{
	height: 10%;
}
.personal-data-display .form-group
{
	margin-bottom: 0;
	height: 25%
}
.personal-form-control:disabled
{
	background: transparent;
	color:black;
	font-size: small;
	border: none;
}
.personal-form-name
{
	font-family: mediumFont;
}
.submit-action-btn
{
	background:#f0f0f0;
	color: #4f4f4f;
}
.btn_navHeader p
{
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.inputContainer p
{
	color: #8b8b8b;
	margin-bottom: 0px !important;
    
}

.inputContainer textarea
{
    color: #4f4f4f;
	background: transparent;
	border:none;
	text-align: left;
	font-family: lightFont;
	resize: none;
}
.btn_leftNavigation
{
    border-bottom: 1px solid #cfcfcf;
    color: #4f4f4f;
    text-align: center;
    cursor: pointer;
}
.btn_navHeader-left:hover
{
	background-color: #e6e6e6;
}
.btn_leftNavigation:hover
{
	background-color: #e6e6e6;
/* 	border-right: 3px solid #dc3545; */
	transition: 0.2s
}
.rightSide
{
    background: #f5f5f5;
}
.leftSide
{
	z-index: 0;
}


.rightCont
{
	height: 100%;
	display: none;
}

.my-white-container
{
	background: white;
	border-radius: 10px;
	height: 100%;
}
#SwitchPanel, #ModalSwitchPanel
{	height: 83vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}
.data-row
{
	height: 25%;
}
#documentContainer
{
	height: 95%;
	background: white;
}
#documentFrame
{
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 450px;
}
#documentContainer p
{
	height: 30px;
	border-bottom: 1px solid #dedede;
}
.documentBlock
{
    height: 75px;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border: 1px solid #e6e6e6;
}
.BigTextInput
{
	color:black;
	font-size: large;
	width: 100%;
	height: 91%;
    text-align: left;
    word-wrap: break-word;
    font-family: lightFont;
    border: none;
    resize: none;
    overflow-x: hidden;
    background: white; 
}
.col-textarea
{
	border-radius: 15px;
    background: white; 
    margin-bottom: 35px;
}
.bord-radius-nav
{
	    max-height: 920px;
	border-bottom-right-radius: 25px;
    background: #f5f5f5;
}
#tab3_table
{
	width: 100%;
	max-height: 95%;
}
#tab3_table tbody
{
	background: white;
	overflow: scroll;
	overflow-x: hidden;
}
#tab3_table tr
{
	width: auto;
	height: 32px;
}
#tab3_table th
{
	width: auto;
	height: 40px;
}
#tab3_table td
{
	width: auto;
}
.my-nav-container
{
	display: none;
	background: white;
}

.my-nav-container p,.my-nav-container h4
{
	color: #4f4f4f;
}
.list-group-item.active {
    background-color: #d2d2d2;
    border-color: #d2d2d2;
    color: #000;
    font-size: 16px;
        
}.list-group-item:first-child {
    border-top-left-radius: .0rem;
    border-top-right-radius: .0rem;
}
.mytable
{
	font-size: 16px;
	background: white;
}
.task-data-value, .task-data-label
{
	font-size: 14px;
}
.task-data-value
{
	font-size: large;
    color: #4f4f4f;
	background: transparent;
	border:none;
	text-align: left;
}

@media only screen and (max-width: 1750px) {

	.bom-list-full-container textarea{
		font-size: 16px;
	}
}

@media only screen and (max-width: 1400px) {
	.timerPanel 
	{
		font-size: x-large;
	}
	.nav-label
	{
		font-size: 14px;
	}
	
	.nav-img-div{
		display: none;
	}
	
	 .personal-form-control:disabled
	 {
		font-size: 14px;
	 }
	 	.task-data-value {
		font-size: 16px;
	}
	.task-data-label {
		font-size: 14px;
	}
	.bom-list-full-container textarea, .header-label{
		font-size: 13px;
	}
}

@media only screen and (max-width: 1200px) {
	.timerPanel 
	{
		font-size: 24px;
	}
/* 	.bom-list-full-container textarea{ */
/* 		font-size: 11px; */
/* 	} */
}

@media only screen and (max-height: 750) {
	.task-data-value {
		font-size: small;
	}
	.task-data-label {
		font-size: small;
	}

}
@media only screen and (max-height: 700px) {
	.btn_navHeader, #btn_megszakitas
	{
		background-image: none;
	}
	.nav-img{
		display: none;
	}
	 .nav-label
	 {
	 	    bottom: calc(50% - 30px);
	 }
	#timerContainer{
		background-image: none !important;
	}	
	.personal-secondary{
		display: none;
	}
	.personal-data-display .form-group
	{
		height: 32%;
	}
	
}