@charset "UTF-8";
* {margin: 0px; padding: 0px; outline: 0px;}
@font-face {
    font-family: mediumFont;
    src: url("/MES/Public/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: lightFont;
    src: url("/MES/Public/fonts/Montserrat-Light.ttf");
}
.btn_logout
{
    width: 100%;
    height: 70px;
    background: url(/MES/Public/icons/logout.svg);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: center;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
input
{
	font-family: lightFont;
    color: #888888;
    border: none;
}
body{

    font-family: lightFont;
    color: #888888;
}
@font-face {
    font-family: Mon;
    src: url(public/fonts/Montserrat-Regular.ttf);
}

html{    
/* 	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); */
/*     background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); */
/*     background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); */

	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff796d', endColorstr='#ef4747',GradientType=0 );
    height: 100%;
}
.mycontainer
{
    border-radius: 10px;	
    box-shadow: 0 22px 100px #999999;
}
.titleStyle
{
	font-size: larger;
	font-family: mediumFont;
}
.cc_element
{
	box-shadow: 0px 1px 4px #484848;
	-moz-box-shadow: 0px 1px 4px #484848;
	-webkit-box-shadow: 0px 1px 4px #484848;
}
.light-shadow
{
	box-shadow: 0px 1px 5px #bbbbbb;
	-moz-box-shadow: 0px 1px 5px #bbbbbb;
	-webkit-box-shadow: 0px 1px 5px #bbbbbb;	
}
.very-light-shadow
{
	box-shadow: 0px 1px 7px #dadada;
	-moz-box-shadow: 0px 1px 7px #dadada;
	-webkit-box-shadow: 0px 1px 7px #dadada;
}
.sideMenuContainer
{
    width: auto;
    height: 74%;
}

#leftwrap P
{
	padding-top: 32%;
}
.btnstyle
{
	cursor:pointer;
	color: #989898;
	display: block;
	border-radius: 3px;
}
.btnstyle:hover
{
background: #f3f3f3;
}
#container
{
	margin: 8% auto 0 auto;
	width: 80%;
	min-width: 1000px;
	max-width: 1500px;
	height: 720px;
}
#lang_div
{
    z-index: 9999;
    position: absolute;
    background: white;
    float: left;
    min-width: 35px;
    height: 35px;
    top: 20px;
    left: 20px;
    /*border: 1px solid gray;*/
    border-radius: 10px;
    box-shadow: 0px 0px 10px #979797;
}
.lang_icon
{
    width: 25px;
    height: 25px;
    margin: 5px 0 0 5px;
}
.lang_bub
{
    float: left;
    width: 35px;
    position: absolute;
    height: 35px;
    border-radius: 10px;
    display: inline-block;
}
.lang_bub:hover
{
    background:#f3f3f3;
}
.lang_bub:active
{
    background:#E2E1D9;
    box-shadow: 0px 0px 5px #ff6666 inset;
}
