@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
}

.element-shadow
{
	box-shadow: 0 22px 100px #999999;
}
.btn-primary{
	background: #ff5050;
	border-color:#ff5050;
}
.btn-primary:disabled{
	background: #b3b3b3;
	border-color:#8c8c8c;
}
.btn-primary:disabled:hover{
	background: #b3b3b3;
	border-color:#8c8c8c;
}
.btn-primary:hover{
	background: red;
	border-color:red;
}
html,body{
    height:100%;
}
@font-face {
	font-family: mediumFont;
	src: url("${pageContext.request.contextPath}/Public/fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: lightFont;
	src: url("${pageContext.request.contextPath}/Public/fonts/Montserrat-Light.ttf");
}
.nav-language-box
{
	border-radius: 0 0 0 5px;
    background: #f5f5f5;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.my-fade
{
	    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.btn_logout-gray{
	height: 100%;
	width: 100%;
	cursor: pointer;
	background: transparent;
	background-image: url(${pageContext.request.contextPath}/Public/icons/logoutGry.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.1s;
	border-left: 1px solid #dedede;
}

.btn_logout-gray:hover {
	background: #ff9797;
	background-image: url(${pageContext.request.contextPath}/Public/icons/logoutGry.svg);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}
.btn_back-gray{
	height: 100%;
	width: 100%;
	cursor: pointer;
	background: transparent;
	background-image: url(${pageContext.request.contextPath}/Public/icons/backArrowgray.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.1s;
	border-left: 1px solid #dedede;
}
.col-nav-logo
{
    background-image: url(${pageContext.request.contextPath}/Public/icons/pm_logo_normal.svg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
}
.btn_back-gray:hover {
	background: #e1e1e1;
	background-image: url(${pageContext.request.contextPath}/Public/icons/backArrowgray.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
}

.logout-form {
	height: 75px;
	position: absolute;
	bottom: 0px;
}

textarea {
	font-family: lightFont;
	border: none;
}

input {
	font-family: lightFont;
	color: #888888;
	border: none;
}

body {
	height: 100%;
	background: transparent;
	font-family: lightFont;
	color: #888888;
}

@font-face {
	font-family: Mon;
	src: url(${pageContext.request.contextPath}/public/fonts/Montserrat-Regular.ttf);
}

html {
	/* 	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); */
	/*     background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); */
	/*     background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #d6d6d6 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #d6d6d6 100%);
	/* Chrome10-25,Safari5.1-6 */
	    background: linear-gradient(to bottom, #f7f7f7 0%, #d6d6d6 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#f0f0f0', GradientType=0); /* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff796d',
		endColorstr='#ef4747', GradientType=0);
	height: 100%;
}

.mycontainer {
	min-height: 900px;
	border-radius: 10px;
	box-shadow: 0 22px 100px #999999;
	background: #f5f5f5;
}

#leftwrap
{
    background: #dc3545;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: white;
}
#circle {
    left: calc(50% - 30px);
    top: calc(40% - 30px);
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;	
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 
/* @-webkit-keyframes spin { */
/*   0% { -webkit-transform: rotate(0deg); } */
/*   100% { -webkit-transform: rotate(360deg); } */
/* } */

/* @keyframes spin { */
/*   0% { transform: rotate(0deg); } */
/*   100% { transform: rotate(360deg); } */
/* } */
.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid transparent;
	border-top: 8px solid #dc3545;
	border-radius: 50%;
	animation: rotate 4s linear infinite;
}
.loaderCycle {
    left: calc(50% - 30px);
    top: calc(40% - 30px);
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #dc3545;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;  
}

.LogoMiniPM
{
	height: 35px;
}

.titleStyle {
	font-size: larger;
	font-family: mediumFont;
}

.cc_element {
	box-shadow: 0px 1px 4px #484848;
	-moz-box-shadow: 0px 1px 4px #484848;
	-webkit-box-shadow: 0px 1px 4px #484848;
}

.light-shadow {
	box-shadow: 0px 2px 12px #bfbfbf;
	-moz-box-shadow: 0px 2px 12px #bfbfbf;
	-webkit-box-shadow: 0px 2px 12px #bfbfbf;
}

.very-light-shadow {
	box-shadow: 0px 1px 7px #dadada;
	-moz-box-shadow: 0px 1px 7px #dadada;
	-webkit-box-shadow: 0px 1px 7px #dadada;
}

.btnstyle {
	cursor: pointer;
	color: #989898;
	display: block;
	border-radius: 3px;
}

.btnstyle:hover {
	background: #f3f3f3;
}

#container {
	margin: 6% auto 0 auto;
	width: 90%;
	min-width: 1000px;
	max-width: 1500px;
	height: 720px;
}

#lang_div {
	z-index: 9999;
/* 	position: absolute; */
	min-width: 35px;
	height: 35px;
    bottom: 10px;
    right: 10px;
	/*border: 1px solid gray;*/
	border-radius: 10px;
}
.lang_icon {
	width: 100%;
	height: 100%;
	padding: 5px;
}

.lang_bub {
	background: transparent;
	border:none;
	float: left;
	width: 35px;
	position: relative;
	height: 35px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
}
.lang_bub:hover {
	background: #f3f3f3;
}

.lang_bub:active {
	background: #E2E1D9;
	box-shadow: 0px 0px 5px #ff6666 inset;
}

.actual-time
{
	z-index: 2;
	color: #606060;
    position: absolute;
    right: 70px;
    bottom: 5px;
    font-size: large;
}
.countDownSpan
{
	    font-size: large;
	display: none;
	z-index: 2;
    position: absolute;
    bottom: 15px;
    right: 300px;
    width: 110px;
    height: 20px;
}
.countDownSpan p, .countDownSpan span
{
	color: #606060; 
}

.logged-name {
    font-size: 21px;
    text-align: left;
}
