<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dmes</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Enter</servlet-name>
    <servlet-class>phoenix.mes.content.controller.Enter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enter</servlet-name>
    <url-pattern>/Enter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSheetLoader</display-name>
    <servlet-name>DataSheetLoader</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.DataSheetLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSheetLoader</servlet-name>
    <url-pattern>/DataSheetLoader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submit</display-name>
    <servlet-name>Submit</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StationTaskList</display-name>
    <servlet-name>StationTaskList</servlet-name>
    <servlet-class>phoenix.mes.content.controller.manager.StationTaskList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationTaskList</servlet-name>
    <url-pattern>/StationTaskList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbasTaskList</display-name>
    <servlet-name>AbasTaskList</servlet-name>
    <servlet-class>phoenix.mes.content.controller.manager.AbasTaskList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbasTaskList</servlet-name>
    <url-pattern>/AbasTaskList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LanguageSetter</display-name>
    <servlet-name>LanguageSetter</servlet-name>
    <servlet-class>phoenix.mes.content.controller.LanguageSetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanguageSetter</servlet-name>
    <url-pattern>/LanguageSetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreSelectedStation</display-name>
    <servlet-name>StoreSelectedStation</servlet-name>
    <servlet-class>phoenix.mes.content.controller.manager.StoreSelectedStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreSelectedStation</servlet-name>
    <url-pattern>/StoreSelectedStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manager</display-name>
    <servlet-name>Manager</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.Manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manager</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Operator</display-name>
    <servlet-name>Operator</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.Operator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Operator</servlet-name>
    <url-pattern>/Operator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileHandler</display-name>
    <servlet-name>FileHandler</servlet-name>
    <servlet-class>phoenix.mes.content.utility.FileHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileHandler</servlet-name>
    <url-pattern>/FileHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Timer</display-name>
    <servlet-name>Timer</servlet-name>
    <servlet-class>phoenix.mes.content.utility.Timer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Timer</servlet-name>
    <url-pattern>/Timer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkstationControl</display-name>
    <servlet-name>WorkstationControl</servlet-name>
    <servlet-class>phoenix.mes.content.controller.manager.WorkstationControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkstationControl</servlet-name>
    <url-pattern>/WorkstationControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Todo</display-name>
    <servlet-name>Todo</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.Todo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Todo</servlet-name>
    <url-pattern>/Todo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StationActivity</display-name>
    <servlet-name>StationActivity</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.StationActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationActivity</servlet-name>
    <url-pattern>/StationActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Settings</display-name>
    <servlet-name>Settings</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.Settings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Settings</servlet-name>
    <url-pattern>/Settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleTask</display-name>
    <servlet-name>ScheduleTask</servlet-name>
    <servlet-class>phoenix.mes.content.controller.manager.ScheduleTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleTask</servlet-name>
    <url-pattern>/ScheduleTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnScheduleTask</display-name>
    <servlet-name>UnScheduleTask</servlet-name>
    <servlet-class>phoenix.mes.content.controller.manager.UnScheduleTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnScheduleTask</servlet-name>
    <url-pattern>/UnScheduleTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuspendTask</display-name>
    <servlet-name>SuspendTask</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.SuspendTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendTask</servlet-name>
    <url-pattern>/SuspendTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshData</display-name>
    <servlet-name>RefreshData</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.RefreshData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshData</servlet-name>
    <url-pattern>/RefreshData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSheet</display-name>
    <servlet-name>DataSheet</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.DataSheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSheet</servlet-name>
    <url-pattern>/DataSheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenTask</display-name>
    <servlet-name>OpenTask</servlet-name>
    <servlet-class>phoenix.mes.content.navigation.OpenTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenTask</servlet-name>
    <url-pattern>/OpenTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeTask</display-name>
    <servlet-name>ResumeTask</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.ResumeTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeTask</servlet-name>
    <url-pattern>/ResumeTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterruptTask</display-name>
    <servlet-name>InterruptTask</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.InterruptTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterruptTask</servlet-name>
    <url-pattern>/InterruptTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchWorkstation</display-name>
    <servlet-name>SwitchWorkstation</servlet-name>
    <servlet-class>phoenix.mes.content.controller.operator.SwitchWorkstation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchWorkstation</servlet-name>
    <url-pattern>/SwitchWorkstation</url-pattern>
  </servlet-mapping>
</web-app>