<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dmes</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>Dashboard.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTest</display-name>
    <servlet-name>AjaxTest</servlet-name>
    <servlet-class>Test.AjaxTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest</servlet-name>
    <url-pattern>/AjaxTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSheet</display-name>
    <servlet-name>DataSheet</servlet-name>
    <servlet-class>Operator.DataSheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSheet</servlet-name>
    <url-pattern>/DataSheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submit</display-name>
    <servlet-name>Submit</servlet-name>
    <servlet-class>Operator.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Dashboard.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildUp</display-name>
    <servlet-name>BuildUp</servlet-name>
    <servlet-class>Manager.BuildUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildUp</servlet-name>
    <url-pattern>/BuildUp</url-pattern>
  </servlet-mapping>
</web-app>