/* .TM_cframe */
/* { */
/* 	background: #dedede; */
/* } */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loaderCycle {
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #dc3545;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;    
}
.pass-item {
	float: right;
	cursor: pointer;
	background-image: url(Public/icons/share-task.svg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.pass-item-remove {
	background-image: url(Public/icons/remove-task.svg);
	background-size: 60%;
}

.refresh_btn {
	cursor: pointer;
}
.datepicker_own {
font-size: 14px;
    background: #efefef;
    padding-left: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.refresh_btn:hover {
	background: #e6e6e6;
}

.date-button {
    float: right;
    background: #efefef;
    background-image: url(Public/icons/letter-x.svg);
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: background-size 0.2s, background 0.3s;
}
.date-button:hover {
	background: #d9d9d9;
	background-repeat: no-repeat;
	background-position: center;
}
.date-null
{
    background-size: 25px;
	background-image: url(Public/icons/delete-sign.svg);
}
.date-null:hover
{
    background-size: 27px;
	background-image: url(Public/icons/delete-sign.svg);
}
.tmts_stationBtnDivCont {
	height: 44px;
	background: white;
	border-bottom: 1px solid #e0e6e8;
	background-image: url(Public/icons/computerSignGray.svg);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-x: 96%;
	background-position-y: center;
	cursor: pointer;
	z-index: 0;
}
.tmts_stationBtnDivCont:hover {
	/*     border: 1px solid #dc3545; */
	background-color: #efefef;
	z-index: 1;
}

.TM_content_layer {
	height: inherit;
	display: none;
}

#TM_Select_container_activity {
	height: 100%;
}


.selectBackBtn {
	margin: 0 0 10px 0;
	border-radius: 0px;
}
.selectBackBtn:hover {
	background: #ff9797;
}

.TM_backBtn img {
	width: 50px;
	height: 50px;
	padding: 5px;
	float: left;
}

#stationVisionHolder {
	overflow: scroll;
	overflow-x: hidden;
	height: 90%;
}

.TV_stationContainer {
	max-width: 23.5%;
	min-width: 285px;
	height: 170px;
	margin: 15px 0 0 15px;
	display: inline-table;
	/* 	background: #fb3157; */
	background: #53d769;
	/* 	cursor: pointer; */
}

.TV_small {
	width: 100%;
	height: 35px;
	float: left;
	/* 	background: red; */
}

.TV_small img {
	height: 32px;
	padding: 5px 10px;
	display: block;
	float: left;
}

.TV_stationHeader p {
	display: block;
	padding: 9px 0 0 0;
	color: white;
}

.TV_stationContent {
	height: 120px;
	display: block;
	float: left;
	width: 59%;
}

.TV_stationContent p, .TV_stationContent input {
	display: block;
	height: 18px;
	margin: 0 0 3px 21px;
	border: none;
	color: white;
	background: none;
}

#TV_timerContainer {
	width: 40%;
	float: right;
	color: white;
	border-left: 1px solid;
}

#TV_timerContainer img {
	height: 70px;
	margin: 0px auto;
	padding: 0 0 5px 0;
	display: block;
}

#TV_timerContainer p {
	font-size: x-large;
}

.TV_stationHeader {
	margin-bottom: 10px;
	background: none;
}

.sortContDivCont {
	width: 102%;
	height: 94%;
	/* 	background: black; */
}

.sortContDiv {
	height: 98%;
	/*     background: #f3f3f3; */
}

.sortContDivLeft {
	float: left;
	width: 16%;
	margin-right: 10px;
}

.sortContDivRight {
	float: left;
	/* margin: 0 10px; */
	width: 80%;
	background: white;
}

.station-container {
	overflow-y: visible;
	overflow-x: hidden;
	max-height: 582px;
}

.tmts_stationBtnDivCont input {
	pointer-events: none;
	background: transparent;
	border: none;
	font-size: 14px;
	color: #737373;
	width: 100%;
	padding: 15px 0 0 10px;
}

.TV_stationContainer input {
	pointer-events: none;
}

.header_p {
	color: #888888;
	padding: 15px;
	float: left;
}

.cont_header 
{
	background: white;
	border-bottom: 1px solid #e0e6e8;
	width: 100%;
	z-index: 4;
	height: 65px;
}

.input-icon-holderDiv 
{
	float: left;

}
.stationName-holderDiv input {
	width: 80%;
}
.actual-time-tm
{
	margin-left: 185px;
}
.input-icon-holderDiv input {
	padding: 17px 0 0 0;
	text-align: left;
	background: none;
	font-size: 18px;
}

/* .icon-form { */
/* 	height: 25px; */
/* 	margin: 13px; */
/* 	float: left; */
/* } */

.dnd-icon {
	width: 4.5% !important;
}

.ts_searchInp {
	width: 0%;
	border-bottom: 1px solid #888888;
	transition: 0.5s;
}

.WSSearchIn {
	color: white;
	border-bottom: 1px solid white;
}

.ts-loggedName-div input {
	color: white;
}

.sortContDiv_nav {
	height: 65px;
	border-bottom: 1px solid #e0e6e8;
	z-index: 10;
	background: white;
}

.abas-list-head, .abas-list-holder {
	/* 	border-right:  1px solid #e0e6e8; */
	
}

.sort-list-head {
	/* 	background: blue; */
	height: 50px;
}


.sort-list-holder {
	max-height: 730px;
}

.search-icon-form {
	cursor: pointer;
}

.ts_sumTime {
	width: 85px;
}

.sum-holderDiv {
	float: right;
}

.sum-holderDiv img {
	margin-left: 0px;
}



.dnd-container {
	border: 1px solid #bbbbbb;
	border-top: none;
	background: white;
}

/* .dnd-container:hover { */
/* 	background: white; */
/* } */

.dnd-container:mousedown {
	background: red;
}

.dnd-frame {
    margin: 5px 0px 0px 0px;
    max-height: 99%;
    overflow-y: scroll;
}

.dnd-frame::-webkit-scrollbar {
	/*     width: 0px;  remove scrollbar space */
	/*     background: transparent;  optional: just make scrollbar invisible */
	/*     display: none; */
	
}

.dnd-input-container {
	overflow: hidden;
	/* 	background: red; */
}

.dnd-input {
	padding: 2px 2px 2px 0;
	color: black;
	font-size: medium;
	background: none;
	word-wrap: break-word;
}

.dnd-input-div input {
	font-size: 12px;
	width: 100%;
}
.dnd-input-div textarea {
	font-size: 14px;
	width: 100%;
	resize: none;
	overflow-y: auto;	  
}

.dnd-input-div p {
	font-size: 11px;
	margin-bottom: 0px;
	color: #a7a7a7;
}

.task-panel-button {
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	background-image: url(Public/icons/right-arrow.svg);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s;
}

.task-panel-button:hover {
	background: white;
	background-image: url(Public/icons/right-arrow.svg);
	background-size: 43%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 0px 10px #9e9a9a;
	-moz-box-shadow: 0px 0px 10px #9e9a9a;
	-webkit-box-shadow: 0px 0px 10px #9e9a9a;;
	border-left: 1px solid #e0e6e8;
}

.up-task-button {
	background-image: url(Public/icons/up-arrow.svg);
}

.up-task-button:hover {
	background-image: url(Public/icons/up-arrow.svg);
}

.remove-task-button {
	background-image: url(Public/icons/letter-x.svg);
}

.remove-task-button:hover {
	background-image: url(Public/icons/letter-x.svg);
}

.down-task-button {
	background-image: url(Public/icons/down-arrow.svg);
}

.down-task-button:hover {
	background-image: url(Public/icons/down-arrow.svg);
}

.mini-button {
	background-size: 25%;
}

.mini-button:hover {
	background-size: 30%;
}

.dnd-input-cont {
	
}


.dnd-downer {
	/* 	display: none; */
	
}
.article-col
{
	-ms-flex: 0 0 110px;
    flex: 0 0 110px;
}

.placeofuse-col
{
	-ms-flex: 0 0 12%;
    flex: 0 0 12%;
}
.abas-listitem-data-col
{
	-ms-flex: 0 0 94%;
    flex: 0 0 94%;
}

.topNav
{
	height: 70px !important;
    background: transparent;
    text-align: center;
    color: white;
}
.top-nav-button
{
	width: 80px;
	border-left: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	
}


.activity-button {
    margin-top: 5%;
    padding-top: 30%;
    padding-bottom: 30%;
    background: white;
}

.activity-button p {
	color: #737373;
	text-align: center;
	font-size: larger;
	padding-top: 10%;
}

.activity-button img {
	width: 50%;
	max-width: 200px;
}

.my-col-1,.my-col-7,.my-col-6
{
	-ms-flex: 0 0 11%;
    flex: 0 0 11%;
}
.my-col-2
{
	-ms-flex: 0 0 14%;
    flex: 0 0 14%;
}
.my-col-3,.my-col-4
{
	-ms-flex: 0 0 13%;
    flex: 0 0 13%;
}
