@charset "UTF-8";
/* #btn_leftNav_1 {background-image: url("Public/icons/TV_btn_nav1.svg");} */
/* #btn_leftNav_2 {background-image: url("Public/icons/TV_btn_nav2.svg");} */
/* #btn_leftNav_3 {background-image: url("Public/icons/TV_btn_nav3.svg");} */
/* #btn_leftNav_4 {background-image: url("Public/icons/TV_btn_nav4.svg");} */


#content
{
	height: 100%;
	background: white;
	float: right;
	width: 92%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.flex-fill {
    flex:1;
}
#contentFrame
{
	height: 100%;
	width: 93%;
    border-radius: 5px;
    background: white;
    display: inline-block;
}
#contentHeader
{
	height: 20%;
    padding: 18px;
}
#navigationContainer
{
	background: none !important;
}
#contentContainer
{
    height: 72.5%;
/*     background: #f0f0f0; */
    padding: 0 18px;
}
.Operator-Top-Row
{
     height: 140px;
}
#timerContainer
{
	background: #00e68a;
	transition: background 1s;
	z-index: 9;
}
.button-container
{
	z-index: 7;
}
.left-buttons
{
	z-index: 8;
}
.operator-switch-grid
{
/*      background: #f5f5f5; */
}
#timerContainer img
{
    height: 80px;
    margin: 0px auto;
    padding: 6px;
}
.timerPanel
{
	color: white;
}

.nav-contianer
{
	background-image: url(Public/icons/pm_logo_normal.svg);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: center;
	    background-position-x: 42%;
}
.my-nav-btn
{
	background-color: white;
	background-image: url(Public/icons/cross-mark.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
}
#btn_lejelentes .my-nav-btn
{
    border-left: 1px solid #dedede;
}
#btn_megszakitas .my-nav-btn
{
    border-right: 1px solid #dedede;
}
.my-nav-btn:hover
{
}

.btn_navHeader
{
	min-width: 100px;
    background: #f5f5f5;
}
#btn_lejelentes
{
		min-width: 150px; 
			background-image: url(Public/icons/upload.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
    border-right: 1px solid #dedede;
}
#btn_megszakitas
{
	min-width: 150px; 
			background-image: url(Public/icons/warning.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
    border-left: 1px solid #dedede;
}
.submit-action-btn
{
	background:#f0f0f0;
	    color: #4f4f4f;
}
.btn_navHeader p
{
	padding-top: 140px;
}

.inputContainer p
{
	color: #8b8b8b;
	margin-bottom: 0px !important;
    
}
.inputContainer input
{
	font-size: larger;
    color: #4f4f4f;
	background: transparent;
	border:none;
	text-align: left;
	font-family: lightFont;
}
.inputContainer textarea
{
	font-size: larger;
    color: #4f4f4f;
	background: transparent;
	border:none;
	text-align: left;
	font-family: lightFont;
	resize: none;
	
}
.big-nav-button
{
    width: auto;
}
.btn_leftNavigation
{
    border-bottom: 1px solid #cfcfcf;
    color: #4f4f4f;
    text-align: center;
    cursor: pointer;
}
.btn_leftNavigation:hover
{
	background-color: #e6e6e6;
	border-left: 3px solid #dc3545;
	transition: 0.2s
}
.btn_leftNavigation img
{
	height: 60px !important;
}
.station-upper-row
{
	
	border-bottom: 1px solid #dedede;
}
.rightSide
{
    background: #f5f5f5;
}
.leftSide
{
	z-index: 0;
}


.rightCont
{
	height: 100%;
	display: none;
}
#SwitchPanel
{
	display: block;
}
.data-row
{
	background: white;
	border-radius: 15px;
}
#documentContainer
{
	height: 95%;
	background: white;
}
#documentFrame
{
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 450px;
}
#documentContainer p
{
	height: 30px;
	border-bottom: 1px solid #dedede;
}
.documentBlock
{
    height: 75px;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border: 1px solid #e6e6e6;
}
.BigTextInput
{
	font-size:x-large;
	width: 100%;
	height: 91%;
    text-align: left;
    word-wrap: break-word;
    font-family: lightFont;
    border: none;
    resize: none;
    overflow-x: hidden;
    background: white; 
}
.col-textarea
{
	border-radius: 15px;
    background: white; 
}
.bord-radius-nav
{
	border-bottom-right-radius: 25px;
}
#tab3_table
{
	width: 100%;
	max-height: 95%;
}
#tab3_table tbody
{
	background: white;
	overflow: scroll;
	overflow-x: hidden;
}
#tab3_table tr
{
	width: auto;
	height: 32px;
}
#tab3_table th
{
	width: auto;
	height: 40px;
}
#tab3_table td
{
	width: auto;
}
.my-nav-container
{
	display: none;
	background: white;
}
.actual-time-tv
{
	margin-left: 75px;
}
.my-nav-container p,.my-nav-container h4
{
	color: #4f4f4f;
}
.list-group-item.active {
    background-color: #d2d2d2;
    border-color: #d2d2d2;
    color: #000;
    font-size: 16px;
        
}.list-group-item:first-child {
    border-top-left-radius: .0rem;
    border-top-right-radius: .0rem;
}
.mytable
{
	font-size: 16px;
	background: white;
}