@charset "UTF-8";
/* #btn_leftNav_1 {background-image: url("Public/icons/TV_btn_nav1.svg");} */
/* #btn_leftNav_2 {background-image: url("Public/icons/TV_btn_nav2.svg");} */
/* #btn_leftNav_3 {background-image: url("Public/icons/TV_btn_nav3.svg");} */
/* #btn_leftNav_4 {background-image: url("Public/icons/TV_btn_nav4.svg");} */
#leftwrap
{
    background: #dc3545;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: white;
}

#content
{
	height: 100%;
	background: white;
	float: right;
	width: 92%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#contentFrame
{
	height: 100%;
	width: 93%;
    border-radius: 5px;
    background: white;
    display: inline-block;
}
#contentHeader
{
	height: 20%;
    padding: 18px;
}
#navigationContainer
{
	background: none !important;
}
#contentContainer
{
    height: 72.5%;
/*     background: #f0f0f0; */
    padding: 0 18px;
}
.Operator-Top-Row
{
     height: 140px;
}
#timerContainer
{
	background: #00e68a;
	transition: 1s;
}
.operator-switch-grid
{
     background: #f5f5f5;
}
#timerContainer img
{
    height: 60px;
    margin: 0px auto;
    padding: 6px;
}
.timerPanel
{
	color: white;
}
.btn_navHeader
{
	height: 130px;
	width: 300px;
    background: #f5f5f5;
    transition: 0.1s;
}
#btn_lejelentes
{
	float: left;
    border-right: 1px solid #dedede;
}
#btn_megszakitas
{
	float: right;
    border-left: 1px solid #dedede;
}
.inputContainer
{
    color: #989898;
    background: white;
}
.inputContainer p
{
	margin-bottom: 0px !important;
    padding: 5px 0 0 5px;
    
}
.inputContainer input
{
	border:none;
	text-align: left;
	font-size: larger;
	font-family: lightFont;
}
.btn_leftNavigation
{
    width: auto;
    height: 130px !important;
    border-bottom: 1px solid #dedede;
    color: #989898;
    text-align: center;
    cursor: pointer;
}
.btn_leftNavigation:hover
{
	background-color: #e6e6e6;
	border-left: 3px solid #dc3545;
	transition: 0.2s
}
.btn_leftNavigation img
{
	height: 50px !important;
}
.rightSide
{
    background: #f5f5f5;
}
.leftSide
{
	z-index: 0;
}


.rightCont
{
	height: 100%;
	display: none;
}
#tab1_container
{
	display: block;
}
#documentContainer
{
	height: 95%;
	background: white;
}
#documentFrame
{
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 450px;
}
#documentContainer p
{
	height: 30px;
	border-bottom: 1px solid #dedede;
}
.documentBlock
{
    height: 75px;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border: 1px solid #e6e6e6;
}
.BigTextInput textarea
{
	height: 80px;
	width: 100%;
    text-align: left;
    word-wrap: break-word;
    font-family: lightFont;
    border: none;
    resize: none;
    font-size: larger;
    padding: 0 1% 1% 1%;
}
.tab4_element textarea
{
	height: 220px;
}
#tab3_table
{
	width: 100%;
	max-height: 95%;
}
#tab3_table tbody
{
	background: white;
	overflow: scroll;
	overflow-x: hidden;
}
#tab3_table tr
{
	width: auto;
	height: 32px;
}
#tab3_table th
{
	width: auto;
	height: 40px;
}
#tab3_table td
{
	width: auto;
}
.number_Input
{
    display: none;
}
.list-group-item.active {
    background-color: #dc3545;
    border-color: #dc3545;
}.list-group-item:first-child {
    border-top-left-radius: .0rem;
    border-top-right-radius: .0rem;
}
.dokumentum-list
{
}